{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "overrides": [
    {
      "files": [
        "**/*.js"
      ]
    }
  ],
  "ignorePatterns": [
    "**/*.test.js"
  ],
  "rules": {
    "import/extensions": [
      "error",
      {
        "js": "ignorePackages"
      }
    ],
    "semi": 0,
    "prettier/prettier": [
      "error",
      {
        "semi": false
      }
    ],
    "no-underscore-dangle": 0,
    "import/imports-first": [
      "error",
      "absolute-first"
    ],
    "import/newline-after-import": "error",
    "import/no-cycle": [
      2,
      {
        "maxDepth": 1
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  }
}
